@import "tailwindcss";
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
} */
* {
  scroll-behavior: smooth;
}
:root {
  --bg: #000;
}
.dark {
  --bg: #fff;
}
@theme inline {
  --color-bg: var(--bg);
}
@layer components {
  .container {
    @apply mx-auto;
  }
}
.marquee {
  animation: marquee 10s linear infinite;
}
.marquee:hover {
  animation-play-state: paused;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }

  .scrollbar-thin {
    scrollbar-width: thin; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }
  .text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}
